.schedule-column-wrapper {
	border-radius: 6px;
	flex: 1 1 0px;
	min-height: 90vh;
	&:not(:last-child) {
		margin-right: 10px;
	}
	.column-day {
		font-size: 10px;
		line-height: 14px;
		color: #6A7988;
		font-weight: 600;
		margin-bottom: 9px;
	}
	.column-body {
		background:rgb(243, 245, 248);
		height: 100%;
		padding: 10px 7px;
    	border-radius: 6px;
		.column-date {
			font-size: 11px;
			line-height: 15px;
			color: #728096;
			font-weight: 600;
			margin-left: 2.42px;
		}
		.current-date {
			color: #5A57CB;
			font-weight: bold;
		}
	}
}